<div class="">
  <div class="card col-md-4" style="margin-left: 35%; margin-top:2%; background-color: rgb(45, 75, 66);">
  
    <div class="mt-1 mb-5 card-header text-center" style="font-size: 45px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; background-color:rgb(152, 189, 152); "> Enregistrement de l'employé </div>
    
    <div>
      <form class="card-body " style=" color:white; font-size:30px; font-weight:400;">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input
            autocomplete="off"
            name="nom"
            type="text"
            class="form-control"
            id="nom"
            placeholder="Votre nom ici"
            [(ngModel)]="employe.nom"
          />
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input
            autocomplete="off"
            name="prenom"
            type="text"
            class="form-control"
            id="prenom"
            placeholder="Votre prénom "
            [(ngModel)]="employe.prenom"
          />
        </div>
        <div class="form-group">
          <label for="salaire">Salaire</label>
          <input 
              autocomplete="off"
              name="salaire"
              type="number" 
              class="form-control" 
              id="salaire" 
              placeholder="Votre salaire" 
              [(ngModel)]="employe.salaire"
          />
        </div>
        
        <div class="form-group">
          <label for="services" >Services</label>
          <select name="idS" [(ngModel)]="employe.idS" class="form-control" >
            <option *ngFor="let s of services" type="number" [value]="s.id">{{ s.nomS }}</option>
            
          </select>
        </div>
  
        <div>
          <button (click)="add()" type="submit" class="btn btn-primary" style="color:black; margin-left: 25px; border: 0px; background-color:rgb(100, 237, 100)">Ajouter</button>
          
          <a  [routerLink]="['/employe/list']" class="btn btn-primary" style="color:black; margin-left: 59px; border: 0px; background-color:rgb(10, 236, 206)">retour à l'accueil</a>
  
  
        </div>
       
      </form>
    </div>
  </div>
</div>

